* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body {
    min-height: 740px;
	font-family: 'Lato', sans-serif;
	font-size: 10px;
	color: rgb(100, 145, 115);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
	background: -webkit-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* IE10 */
	background:      -o-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* Opera 11.10+ */
	background:         linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* W3C */
}

.step {
	width: 900px;
	height: 700px;
	background: rgba(255, 255, 255, .6);
	text-align: center;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .45);
			box-shadow: 0 0 4px 0 rgba(0, 0, 0, .45);
}

.step h1 {
	font-size: 5em;
}

.step pre {
	text-align: left;
	font-size: 1.5em;
}

.step code {
	background: rgba(100, 145, 115, .6);
}

.step p {
	font-size: 1.75em;
	padding: 1em;
}